*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #3498db;
    padding: 4rem   10rem;
}
.container{
    min-width: 20rem;
    width: 70rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.container h1{
    font-size: 5rem;
}

.container .posts{

    margin-top: 5rem;
    background-color: aliceblue;
    padding: 2rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 2rem -1.7rem rgba(0,0,0,0.5);
}

 .post-id{
    width: 5rem;
    height: 5rem;
    background-color: #2980b9;
    display: grid;
    color: aliceblue;
    place-items: center;
    font-size:2rem;
 }
 .title{
    font-size: 2.5rem;
    margin:2rem 0 1rem 0;
    text-transform: capitalize;
 }

 .para{
    font-size: 1.5rem;
 }